
<div class="jumbotron">
    <h1>Planet Database</h1>
    <p class="lead">Planet database is the best website for planet infromation take a look at some of the planets below</p>
    <div id="planets">
        <table id="myTable" style="width:100%">                   
            <tr>              
                <th>Name </th>
                <th>Distance from Sun </th>
            </tr>
        </table>
     </div>
</div>
<div class="row">
</div>
